
.card{
    /* background: red; */
    width: 98%;
    max-width: 400px;
    /* max-width: 350px; */
    /* max-width: 400px; */
    /* margin-bottom: 21px; */
    
}
.card_img{
    background-size: cover;
    width: 100%;
    min-height: 300px;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    align-items: center;
    /* padding-top: 15px; */
    min-width: 300px;
    cursor: pointer;
    background-size: cover !important;
    background-position: center !important;
}
.card_text2{
    padding: 20px;
}
.card_text2 .card_image12{
    /* width: 300px; */
    height: 50px;
    border: 2px solid white;
    transition: 1s;
    border-radius: 50%;
    margin-top: -60px;
    margin-bottom: 10px;
    background-size: cover !important;
    background-position: center !important;
}

.card_text2 .card_image12:hover{
    border: 2px solid #06c160;
}
.card_img h3{
    color: rgb(0, 0, 0);
     background: rgb(221, 254, 214);
     font-family: 'Manrope', sans-serif;
     font-size: 16px;
     border-radius: 9px;
     max-width: 70%;
     margin-left: 12px;
     /* height: 30px; */
     text-align: center;
     min-width: 150px;
     padding-top: 7px;
}
.card_text{
    width: 100%;
    /* padding: 8px; */
    min-height: 180px;
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
    /* box-shadow: rgba(84, 63, 63, 0.299) 0px 48px 100px 0px; */
    min-width: 300px;
    position: relative;
    background-color: white;
}
.card_text img{
    width: 50px;
    border-radius: 50%;
    margin-top: -55px;
    border: 4px solid white;
    background-color: white;
}
.card_text h3{
    color: #06c160;
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
}
.star{
    color: rgb(139, 139, 7);
    font-size: 17px;
}
.comment{
    display: flex;
    justify-content:space-around;
    width: 60%;
    align-items: center;
    margin-top: 11px;
    margin-bottom:21px ;
    margin-left: -8px;
}
.message{
    display: flex;
    align-items: center;
    color: #06c160;
}
.card_text a{
    text-decoration: none;
    color: black;
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
}
.korzina{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 21px;
}
.korzina button{
    background-color: #06c160;
    border: none;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-weight: 900;
    padding: 15px 35px;
    border-radius: 8px;
    transition: 1s;
}
.korzina button:hover{
    background-color: white;
    color:#06c160 ;
    border: 1px solid #06c160;
}
.price span{
    font-family: 'Manrope', sans-serif;
    font-weight: 900;
}
.price p{
    color: grey;
    font-size: 12px;
    font-family: 'Manrope', sans-serif;
}
.star2{
    display: flex;
    background-color: white;
    position: absolute;
    top: -28px;
    right: 0px;
    padding: 6px;
    font-size: 15px;
    padding-right: 10px;
    border-top-left-radius: 8px;
    align-items: center;
}
.star2 .bxs-star{
    color: yellow;
}
.star2 p{
    font-weight: 900;
    font-family: 'Manrope', sans-serif;
}
