.router{
    margin-left: 10%;
    margin-top: 30px;
    display: flex;
}
.router a{
    padding-right: 20px;
    display: flex;align-items: center;
    align-items: center;
    color: #06c160;
}
.router a:hover{
    text-decoration: none;
}
.arrow{
margin-right: 30px;
}
.food_body h1{
margin-left: 10%;
margin-top: 30px;
margin-bottom: 30px;
}
.actoon_page{
    display: flex;
    width: 98%;
    /* flex-wrap: wrap; */
    max-width: 1350px;
    justify-content: center;
    align-items: start;
    margin-top: 30px;
    margin: auto;
   gap:20px;
}
.actiocheck{
    width: 20%;
    min-width: 250px;
    background-color: white;
    padding-left: 3%;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}
.actiocheck li{
    margin-bottom: 15px;
}
.food_body h1 sup{
    font-size: 20px;
    color: grey;
    font-weight: 300;
}
.body_card{
    width: 70%;
}
.action_search{
    display: grid;
    grid-template-columns: 3fr auto;
    align-items: center;

}
.card_input{
    width: 90%;
    margin: auto;
    align-items: center;
    height: 40px;
    display: grid;
    background-color: white;
    grid-template-columns: auto 4fr;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    padding-left: 8px;
    margin-bottom: 20px;
}
.card_input input{
    width: 90%;
    border: none;
    outline: none;
    padding-left: 8px;
}
.action_search button{
    padding: 10px 30px;
    border-radius: 8px;
    outline: none;
    border: none;
    color: white;
    background-color: #06c160;
    transition: 2s;
    font-weight: 900;
    margin-top: -20px;
}
.action_search button:hover{
    background-color: white;
    color: #06c160;
    border: 1px solid #06c160;
}
.cards{
    display: grid;
    gap: 10px;
   grid-template-columns: auto  auto auto;
}
@media(max-width:1300px){
   .cards{
    display: grid;
    grid-template-columns: auto auto;
   } 
}
@media(max-width:620px){
    .cards{
     display: grid;
     grid-template-columns: auto;
    } 
 }
.link{
    display: flex;
    justify-content:space-around ;
    width: 90%;
    /* margin: auto; */
    margin-top: 20px;
    margin-bottom: 20px;
    max-width:750px;
}
.reyting h4{
    cursor: pointer;
}
.link h4{
    color:#06c160;
    transition: 0.6s;
    cursor:pointer;
    font-size: 16px;
    font-weight: 400;
}
/* .toggle_fill:hover{
    color: #06c160;
} */
.link h4:hover{
    color: black;
}
.toggle_fill{
    color:black;
    font-size: 22px;
    
}
.reyting h4{
    color: black;
}
.close{
    position: absolute;
    top:20px;
    right:50px;
    /* border: 1px solid; */
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    font-size: 23px;
    background-color: #06c160;
}


.line{
    border-bottom: 1px solid rgba(0, 0, 0, 0.108);
    margin-right: 52px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.actiocheck h3{
    margin-top: 17px;
}
.actiocheck li{
    list-style: none;
}
.actiocheck input{
    width: 20px;
    margin-right: 10px;
    height:20px;
}
.reyting{
    display: flex;
    justify-content: start;
}
.t_filter{
    display: flex;
    gap: 10px;
    align-items: center;
    color: #06c160;
}
.search_w{
    display: flex;
    gap: 10px;
    align-items: center;
}
.search_w h3{
    font-weight:400;
}
.filter_{
    justify-content: space-between;
    width: 80%;
    margin:auto;
    margin-bottom: 20px;
    display: none;
}
.bs_slider{
    width: 40px;
    height: 40px;
    cursor: pointer;
    /* display: none; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    font-weight: 600;
    font-size: 23px;
    background-color: #06c160;
}
@media(max-width:991px){
    .body_card{
        width: 100%;
    } 
    .footer{
        width: 100%;
    }
    .actiocheck{
        width: 100%;
        border: none;
        transition: 0.5s;
        position: absolute;
top: 0px;
left: 0px;
border-radius: 0px;
min-height: 400px;
    }
    .actiocheck{
        overflow: auto;
        height: 80vh;
    }
    .close{
        display: flex;
    }
    .filter_{
        display: flex;
    }
    .link{
        display: none;
    }
}
.oq{
    width: 50%;
    text-align: start;
    position: absolute;
    right: -140px;
    display: none;
    top: 300px;
    overflow: hidden;
    height: auto;
}
.oq button{
    width: 70%;
    border: none;
    height: 44px;
    background-color: white;
    
}
.oq button:hover{
    background-color: grey;
}

    @media(max-width:1060px){
        .liniya{
            width: 95%;
            margin-bottom: 5px;
            margin-top: 5px;
        }
        .kichkina_kategoriya{
            width: 95%;
        }
        .loko{
            width: 98%;
            height: 90px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 9px;
            position: fixed;
            top: 880px;
            background-color: #fff;
        }
        .kota_kategoriya2{
            width: 95%;
            margin-bottom: 20px;
            margin-top: 20px;
        }
        .kategoriya_button{
            width: 160px;
            height: 45px;
            font-size: 15px;
        }
        .perevarot{
            font-size: 15px;
        }
        .primen{
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    @media(max-width:1225px){
        .sp{
            font-size: 15px;
        }
    }
    .sp{
        font-weight: 600;
        margin-top: -5px;
   }
   .sp2{
       margin-left: 7px;
       color: #909090;
   }
   
   .kategoriya_button{
    width: 85%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eeeeee;
    border-radius: 10px;
    font-weight: 600;
    border: solid 1px #909090;
    font-size: 18px;
    transition: 0.2s;
    /* margin-left: 20px; */
    }  
    .perevarot{
        color: #06c160;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        }
        .kategoriya_button:hover .perevarot{
            color: white;
        }
        .kategoriya_button:hover{
            background-color: #06c160;
            border: solid 1px #06c160;
            color: white;
        }

    .kichkina_kategoriya{
        width: 81%;
        display: flex;
        margin: auto;
        margin-top: 15px;
        gap: 20px;
        margin-bottom: 20px;
        cursor: pointer;
    }   
    .yopil_kateg{
        overflow-x: hidden ;
        transition: 90s ;
    }
    .kota_kategoriya22{   
        width: 250px;
        margin:auto;
        font-size:19px;
        font-weight: 500;
        color: #06c160;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
    }
    .kota_kategoriya2{   
        width: 250px;
        margin:auto;
        font-size:19px;
        font-weight: 500;
        color: #06c160;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    .ukaz1{
        font-size: 15px;
        font-weight: 900;
        margin-left: 8px;
       
    }
    .kota_kategoriya2{
        margin-bottom: 20px;
    }
    .primen{
        width: 130px;
        height: 45px;
        background-color: #06c160;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        color: white;
        font-size: 17px;
        display: none;
    }
    @media(max-width:1300px){
        .kota_kategoriya2{
            width: 82%;
        }
    }
    @media (max-width:440px) {
        .loko{
            margin-left: 5px;
        }
    }
