.router{
    margin-left: 10%;
    margin-top: 30px;
    display: flex;
}
.router a{
    padding-right: 20px;
    display: flex;align-items: center;
    align-items: center;
    color: #06c160;
}
.router a:hover{
    text-decoration: none;
}
.arrow{
margin-right: 30px;
}
.food_body h1{
margin-left: 10%;
margin-top: 30px;
margin-bottom: 30px;
}
.actoon_page{
    display: flex;
    width: 98%;
    flex-wrap: wrap;
    max-width: 1350px;
    justify-content: center;
    margin-top: 30px;
    margin: auto;
   
}
.actiocheck{
    width: 20%;
    min-width: 250px;
    background-color: white;
    padding-left: 3%;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.food_body h1 sup{
    font-size: 20px;
    color: grey;
    font-weight: 300;
}
.body_card{
    width: 70%;
}
.action_search{
    display: grid;
    grid-template-columns: 3fr auto;
    background-color: #06c160;

}
.card_input{
    width: 100%;
    display: grid;
    grid-template-columns: auto 4fr;
}
.card_input input{
    width: 90%;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
}
@media(max-width:991px){
    .body_card{
        width: 100%;
    } 
    .actiocheck{
        width: 100%;
        border: none;
    }
}