.router{
    margin-left: 10%;
    margin-top: 30px;
    display: flex;
}
.router a{
    padding-right: 20px;
    display: flex;align-items: center;
    align-items: center;
    color: #06c160;
}
.router a:hover{
    text-decoration: none;
}
.arrow{
margin-right: 30px;
}
.food_body h1{
margin-left: 10%;
margin-top: 30px;
margin-bottom: 30px;
}
.actoon_page{
    display: flex;
    width: 98%;
    flex-wrap: wrap;
    max-width: 1350px;
    justify-content: center;
    align-items: start;
    margin-top: 30px;
    margin: auto;
   
}
.actiocheck{
    width: 20%;
    min-width: 250px;
    background-color: white;
    padding-left: 3%;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}
.food_body h1 sup{
    font-size: 20px;
    color: grey;
    font-weight: 300;
}
.body_card{
    width: 70%;
}
.action_search{
    display: grid;
    grid-template-columns: 3fr auto;
    align-items: center;

}
.card_input{
    width: 90%;
    margin: auto;
    align-items: center;
    height: 40px;
    display: grid;
    background-color: white;
    grid-template-columns: auto 4fr;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    padding-left: 8px;
}
.card_input input{
    width: 90%;
    border: none;
    outline: none;
    padding-left: 8px;
}
.action_search button{
    padding: 10px 30px;
    border-radius: 8px;
    outline: none;
    border: none;
    color: white;
    background-color: #06c160;
    transition: 2s;
    font-weight: 900;
}
.action_search button:hover{
    background-color: white;
    color: #06c160;
    border: 1px solid #06c160;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
}
@media(max-width:991px){
    .body_card{
        width: 100%;
    } 
    .actiocheck{
        width: 100%;
        border: none;
    }
}
.line{
    border-bottom: 1px solid rgba(0, 0, 0, 0.108);
    margin-right: 52px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.actiocheck h3{
    margin-top: 17px;
}
.actiocheck li{
    list-style: none;
}
.actiocheck input{
    width: 20px;
    margin-right: 10px;
    height:20px;
}