.footer{
width: 1450px;
display: flex;
justify-content: space-between;
align-items: center;
margin: auto;
}
.f_gap{
width: 49%;
}

.f_gap h1{
width: 90%;
font-size: 23px;
font-weight: 600;
}
.f_gap h1 span{
font-weight: 300;
}
.f_p1{
font-size: 23px;
font-weight: 300;
}
.f_p2{
font-size: 23px;
font-weight: 300;
}

.f_img{
width: 45%;
}
.pol{
width: 65%;
margin: auto;
font-size: 20px;
text-align: center;
}
.vp{
font-weight: 600;
}
.reklama{
width: 65%;
display: flex;
justify-content: space-between;
align-items: center;
margin: auto;
margin-top: 30px;
}

.app_store{
width: 170px;
height: 54px;
display: flex;
justify-content: space-between;
align-items: center;
border: 1px solid black;
border-radius: 8px;
transition: .3s;
cursor: pointer;
}
.app_store:hover{
color: #06c160;
border: #06c160 1px solid;
}
.ap_i{
width: 30%;
text-align: center;
}
.apple{
font-size: 33px;
}
.ap_soz{
width: 80%;
text-align: left;
}
.ap_p1{
font-size: 12px;
font-weight: 500;
}
.ap_p2{
font-size: 18px;
font-weight: 700;
font-family: "PT Sans", sans-serif;
font-style: normal;
}

.google_play{
width: 170px;
height: 54px;
display: flex;
justify-content: space-between;
align-items: center;
border: 1px solid black;
border-radius: 8px;
transition: .3s;
cursor: pointer;
}
.google_play:hover{
color:#06c160;
border: 1px solid #00db6aeb;
}
.gp_i{
width: 32%;
text-align: center;
font-size: 15px;
}
.google{
font-size: 28px;
}
.gp_soz{
width: 74%;
text-align: left;
}
.gp_p1{
font-size: 11px;
font-weight: 500;
}
.gp_p2{
font-size: 18px;
font-weight: 700;
font-family: "PT Sans", sans-serif;
font-style: normal;
}
.prilojenie{
width: max-content;
margin-left: 74%;
margin-top: 30px;
display: flex;
}
.f_i{
font-size: 30px;
cursor: pointer;
}
.f_i:hover{
color: rgb(46, 46, 46);
}

@media(max-width:1510px){
.footer{
width: 90%;
display: flex;
justify-content:space-between;
align-items: center;
margin: auto;
}
.f_gap h1{
width: 90%;
font-size: 22px;
font-weight: 600;
}
.f_gap h1 span{
font-weight: 300;
}
.f_p1{
font-size: 22px;
font-weight: 300;
}
.f_p2{
font-size: 22px;
font-weight: 300;
}
.reklama{
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
margin: auto;
margin-top: 30px;
}
.f_img{
width: 34%;
}
.pol{
width: 100%;
margin: auto;
font-size: 20px;
text-align: center;
}
.vp{
font-weight: 600;
}
}
@media(max-width:1153px){
.f_gap{
width: 53%;
}
.f_gap h1{
width: 100%;
font-size: 21px;
font-weight: 600;
}
.f_gap h1 span{
font-weight: 300;
}
.f_p1{
width: 100%;
font-size: 21px;
font-weight: 300;
}
.f_p2{
width: 100%;
font-size: 21px;
font-weight: 300;
}
.f_img{
width: 38%;
}
}
@media(max-width:1039px){
.f_img{
width: 42%;
}
}
@media(max-width:935px){
.footer{
width: 90%;
display: block;
margin: auto;
}
.f_img{
width: 60%;
margin: auto;
margin-top: 40px;
}
.f_gap{
width: 90%;
margin: auto;
}
.pol{
width: 100%;
margin: auto;
font-size: 20px;
text-align: center;
}
.prilojenie{
width: 100%;
margin: auto;
margin-top: 30px;
margin-left: 0%;
display: flex;
text-align: center;
justify-content: center;
gap: 20px;
}
}
@media(max-width:670px){
.f_img{
width: 70%;
margin: auto;
margin-top: 40px;
}
}
@media(max-width:585px){
.f_img{
width: 80%;
margin: auto;
margin-top: 40px;
}
}
@media(max-width:498px){
.footer{
width: 90%;
display: block;
margin: auto;
}
.f_img{
width: 90%;
margin: auto;
margin-top: 40px;
}
.f_gap h1{
width: 100%;
font-size: 19px;
font-weight: 600;
}
.f_gap h1 span{
font-weight: 300;
}
.f_p1{
width: 100%;
font-size: 19px;
font-weight: 300;
}
.f_p2{
width: 100%;
font-size: 19px;
font-weight: 300;
}
.pol{
width: 100%;
margin: auto;
font-size: 18px;
text-align: center;
}
}
@media(max-width:438px){
.f_gap{
width: 100%;
}
.f_img{
width: 100%;
margin: auto;
margin-top: 40px;
}

}
@media(max-width:390px){
.reklama{
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
margin: auto;
margin-top: 30px;
}
.app_store{
width: 150px;
height: 45px;
display: flex;
justify-content: space-between;
align-items: center;
border: 1px solid black;
border-radius: 8px;
transition: .3s;
cursor: pointer;
}
.apple{
font-size: 30px;
}
.ap_soz{
width: 68%;
text-align: left;
}
.ap_p1{
font-size: 10px;
font-weight: 500;
}
.ap_p2{
font-size: 17px;
font-weight: 700;
font-family: "PT Sans", sans-serif;
font-style: normal;
}
.google_play{
width: 150px;
height: 45px;
display: flex;
justify-content: space-between;
align-items: center;
border: 1px solid black;
border-radius: 8px;
transition: .3s;
cursor: pointer;
}
.gp_p1{
font-size: 10px;
font-weight: 500;
}
.gp_p2{
font-size: 15px;
font-weight: 700;
font-family: "PT Sans", sans-serif;
font-style: normal;
}
.google{
font-size: 25px;
}
}
@media(max-width:350px){
.app_store{
width: 140px;
height: 42px;
display: flex;
justify-content: space-between;
align-items: center;
border: 1px solid black;
border-radius: 8px;
transition: .3s;
cursor: pointer;
}
.apple{
font-size: 28px;
}
.ap_soz{
width: 68%;
text-align: left;
}
.ap_p1{
font-size: 10px;
font-weight: 500;
}
.ap_p2{
font-size: 15.6px;
font-weight: 700;
font-family: "PT Sans", sans-serif;
font-style: normal;
}
.google_play{
width: 140px;
height: 42px;
display: flex;
justify-content: space-between;
align-items: center;
border: 1px solid black;
border-radius: 8px;
transition: .3s;
cursor: pointer;
}
.google{
font-size: 23px;
}
.gp_soz{
width: 68%;
text-align: left;
}
.gp_p1{
font-size: 10px;
font-weight: 500;
}
.gp_p2{
font-size: 15px;
font-weight: 700;
font-family: "PT Sans", sans-serif;
font-style: normal;
}
}

.footer2{
width: 1450px;
display: flex;
align-items: center;
margin: auto;
gap: 50px;
margin-top: 50px;
margin-bottom: 50px;
}
.f2_p{
position: relative;
top: 8px;
}
.p_spani{
font-weight: 600;
}
.a_href1{
text-decoration: none;
color: #06c160;
font-weight: 500;
}

.a_href2{
text-decoration: none;
color: #06c160;
}
@media(max-width:1510px){
.footer2{
width: 90%;
display: flex;
align-items: center;
margin: auto;
gap: 50px;
margin-top: 50px;
}
}
@media(max-width:935px){
.footer2{
width: 90%;
display: block !important;
margin: auto;
gap: 0px;
margin-top: 50px;
}
.f2_p{
width: 100%;
margin: auto;
text-align: center;
position: relative;
top: 0px;
}
.f2_a{
width: 60%;
margin: auto;
margin-top: 15px;
}
}
@media(max-width:670px){
.f2_a{
width: 70%;
margin: auto;
margin-top: 15px;
}
}
@media(max-width:498px){
.f2_a{
width: 90%;
margin: auto;
margin-top: 15px;
}
}
@media(max-width:438px){
.f2_a{
width: 100%;
margin: auto;
margin-top: 15px;
}

}