/* .body1{
    background-color: rgb(219, 216, 216);
    
} */
.header_0{
    width: 80%;
    margin: auto;
}
.header_1{
    display: flex;
    justify-content: space-around;
    width: 90%;
    max-width: 1600px;
    margin: auto;
    flex-wrap: wrap;
    margin-top: 43px;
}
.header_text{
    width: 50%;
    min-width: 300px;
}
.header_text span{
    color: #909090;
    font-size: 22px;
    font-family: 'Manrope', sans-serif;
}
.header_text h1{
    font-family: 'Protest Strike', sans-serif;
    font-size: 45px;
    margin-top: 23px;
    margin-bottom: 33px;
    width: 100%;
    font-weight: 900;
    letter-spacing: -2px;
    /* min-width: 210px; */

}
.header_text h3{
    font-size: 24px;
    font-family: 'Manrope', sans-serif;
    color:#06c160 ;
    font-weight: 900;
    margin-bottom: 73px;

}
.header_text p{
    width: 90%;
    font-family: 'Roboto', sans-serif;
    font-weight:100;
    font-size: 21px;
    margin-bottom: 33px;
    min-width: 300px;
    line-height: 44px;
}
#dispa{
    display: none;
}

.header_text button{
    margin-bottom: 33px;
    padding: 13px 30px;
    background-color: #06c160;
    color: white;
    font-size: 19px;
    border: none;
    border-radius: 10px;
}
.header_text button:hover{
    color: #06c160;
    background-color: white;
    border: 1px solid #06c160;
}
.header_p{
    font-size: 16px;
    color: #909090;
    font-family:'Manrope', sans-serif ;
    font-weight: 100;
}
.header_img{
    width: 40%;
    min-width: 300px;
    position: relative;
    top: 2%;
    right: 2%;
    z-index: -1;
}
.img_header{
    border-radius: 100%;
    background-color:#06c1601a;
    height:60vh ;
    width: 30vw;
    align-items: center;
    margin-top: 53px;
    min-width: 250px;
    /* min-height: 100px; */
    position: relative;
    max-width: 500px;
}

.header_img img{
    transform-style: preserve-3d;
    transform: perspective(1000px);
    transform: translateZ(20px);
}
.logo{
    position: absolute;
    top: -100px;
    left: 180px;
    width: 50%;
    min-width: 100px;
}
.rocket{
    position: absolute;
    top: 150px;
    right: 300px;
    width: 70%;
    height: auto;
    /* min-width: 300px; */
}




@media(max-width:910px){
    .header_text{
    width: 80%;
    
    }
    .header_1{
        margin-right: 200px;
    }
    .img_header{
        width: 300px;
        margin: auto;
        height: 300px;
    }
    #dispa{
        display: block;
        height: 100px !important ;       ;
        /* width: 60vw; */
        margin-bottom: 300px;
    }
    .logo{
        width: 100px;
    }
    .rocket{
        width: 200px;
    position: relative;
    left: 5%;
        height: auto !important;
    }
    .header_img{
        display: none;
        position: relative;
        top: 0px !important;
        right: 0px ;
        margin: auto;
        /* height: 200px !important; */
    }
    .header_1{
        display: flex;
        justify-content: start;
        max-width: 1200px;
        flex-wrap: wrap;
        margin-top: 43px;
    }
    .header_text h1{
        font-family: 'Protest Strike', sans-serif;
        font-size: 25px;
        margin-top: 23px;
        margin-bottom: 33px;
        width: 130%;
        font-weight: 900;
        letter-spacing: -2px;
        min-width: 210px;
    }
    .header_text h3{
        font-size: 13px;
        font-family: 'Manrope', sans-serif;
        color:#06c160 ;
        font-weight: 900;
        margin-bottom: 73px;
        width: 100%;

    }
    .header_text p{
        width: 140%;
        font-family:'Manrope', sans-serif ;
        font-weight: 100;
        font-size: 21px;
        margin-bottom: 33px;

    }
    
.header_text button{
    margin-bottom: 33px;
    padding: 10px 20px;
    background-color: #06c160;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 10px;
}
}

@media(max-width:1140px){
    .header_text{
    width: 80%;
    
    }
    .header_1{
        margin-right: 200px;
    }
    .img_header{
        width: 300px;
        margin: auto;
        height: 300px;
    }
    #dispa{
        display: block;
        height: 100px !important ;
        /* width: 60vw; */
        margin-bottom: 300px;
    }
    .logo{
        width: 100px;
    }
    .rocket{
        width: 200px;
    position: relative;
    left: 5%;
        height: auto !important;
    }
    .header_img{
        display: none;
        position: relative;
        top: 0px !important;
        right: 0px ;
        margin: auto;
        /* height: 200px !important; */
    }
    .header_1{
        display: flex;
        justify-content: start;
        max-width: 1200px;
        flex-wrap: wrap;
        margin-top: 43px;
    }
    .header_text h1{
        font-family: 'Protest Strike', sans-serif;
        font-size: 25px;
        margin-top: 23px;
        margin-bottom: 33px;
        width: 130%;
        font-weight: 900;
        letter-spacing: -2px;
        min-width: 210px;
    }
    .header_text h3{
        font-size: 13px;
        font-family: 'Manrope', sans-serif;
        color:#06c160 ;
        font-weight: 900;
        margin-bottom: 73px;
        width: 100%;

    }
    .header_text p{
        width: 140%;
        font-family:'Manrope', sans-serif ;
        font-weight: 100;
        font-size: 21px;
        margin-bottom: 33px;

    }
    
.header_text button{
    margin-bottom: 33px;
    padding: 10px 20px;
    background-color: #06c160;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 10px;
}
}









.servis{
    width: 87%;
    margin: auto;
    margin-top: 4%;
    position: relative;
}
.servis h2{
    font-size: 43px;
    font-weight: 900;
}
.servis p{
    font-size: 17px;
    margin-top: 11px;
    min-width: 300px;
    line-height: 27px;
    color: #909090;
}
.zakaz1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;
    width: 80%;

}
.menu{
    font-family: 'Manrope', sans-serif;
    width: 60%;
    min-width: 300px;

}
.menu h2{
    color: #06c160;
    font-size: 25px;
}
.menu p{
    width: 50%;
    min-width: 300px;
    line-height: 27px;
}
.number{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #e6f9ef;
    margin-top: 7%;
    margin-bottom: 7%;
   
}

.number p{
    color: black;
    font-size: 33px;
    font-family: 'Manrope', sans-serif;
    font-weight: 900;
    margin-top: -5px;
    width: 50%;
}
.price_2 h2{
    color: #06c160;
    font-size: 25px;
}
.price_2{
    font-family: 'Manrope', sans-serif;
    width: 50%;
    min-width: 300px;
    display: flex;
    align-items: center;
}
#none{
    display: none;
}
@media(max-width:1200px){
    .sushi_rotate{
        display: none;
    }
    .sushi_rotate1{
        display: none;

    }
}
@media(max-width:740px){
    #none{
        display: block;
    }
    .btn_block{
        display: none;
    }
    .btn_none{
        display: block !important;
        margin-bottom: 45px;
        margin-top: 45px;
    }
    .price_sushi{
        display: none;
    }
    .zakaz1{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 5%;
        width: 100%;
    
    }
    .menu p{
        width: 150%;
        min-width: 300px;
        line-height: 27px;
    }
    .zakaz{
        margin-top: 33px;
        margin-bottom: 9%;
    }
    .price_2 h2{
        color: #06c160;
        font-size: 25px;

    }
    .menu h2{
        width: 200%;
    }
}
@media(max-width:614px){
    .zakaz1{
      margin-left:16%;
    
    }
    .servis h2{
        width: 140%;
    }
}
@media(max-width:504px){
    .zakaz1{
      margin-left:20%;
    
    }
}
@media(max-width:478px){
    .zakaz1{
      margin-left:26%;
    
    }
    .otziv1{
        width: 100%;
    }
}
@media(max-width:460px){
    .zakaz1{
      margin-left:34%;
    
    }
}
@media(max-width:377px){
    .zakaz1{
      margin-left:70%;
    
    }
}




.price_2 button{
    margin-bottom: 33px;
    padding: 13px 30px;
    background-color: #06c160;
    color: white;
    font-size: 19px;
    border: none;
    border-radius: 10px;
    margin-left: 150px;
    min-width: 300px;
}
.price_2 button:hover{
    color: #06c160;
    background-color: white;
    border: 1px solid #06c160;
}
.btn_none{
    padding: 13px 30px;
    background-color: #06c160;
    color: white;
    font-size: 19px;
    border: none;
    border-radius: 10px;
    min-width: 300px;
    display: none;
}
.btn_none:hover{
    color: #06c160;
    background-color: white;
    border: 1px solid #06c160;
}
/* .sushi_img{

} */

.sushi_rotate{
    transform: rotate(50deg);
    position: absolute;
    top: 20%;
    width: 240px;
    height: auto;
    right: -5%;
}
.sushi_rotate1{
    position: absolute;
    top: 40%;
    width: 240px;
    height: auto;
    right: -15%;
}
.otziv1{
    background-color: #e6f9ef;
    /* width: 90%; */
    margin-bottom:11% ;
    border-radius: 31px;
    min-height: 100px;
    min-width: 300px;
    padding-bottom: 5%;
    margin-top: 5%;
}
.otziv{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   
}
.otziv1 h1{
    font-size: 28px;
    font-weight: 900;
    padding-top: 4%;
    margin-left: 6%;
    font-family: 'Manrope', sans-serif;

}
.grafik {
    width: 30%;
    min-width: 300px;
    margin-top: -100px;
}
.grafik h2{
    color: #06c160;
    margin-top: -120px;
    font-size: 21px;
    font-weight: 900;
}
.grafik p{
    width: 100%;
    min-width: 300px;
    font-family: 'Manrope', sans-serif;
    line-height: 25px;
    color: #909090;
    margin-top: 11px;
}
.otziv_img{
    width: 15%;
}
.cupcake{
    width: 40%;
    height: 300px;
    position: absolute;
    top: -150px;
    right: -40px;
    transform: rotate(20deg);

}
@media(max-width:1000px){
    .cupcake{
    display: none;

    }
    .sushi_rotate{
        display: none;
    }
}




.main .mySwiper2{
    width: 30%;
  }
  .main .mySwiper{
    width: 30%;
  }
  
  .image .img3{
    width: 350px;
    border-radius: 30px;
    height: 500px;
    background-size: cover !important;
    background-position: center !important;
  }
  .main h5{
    margin-bottom: 23px;
    color: #909090;
    font-weight: 300;
  }
  .main{
    display: flex;
  max-width: 1500px;
  flex-wrap: wrap;
  width: 90%;
  gap: 30px;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 73px;
  }
  .main p{
    color: #909090;
    line-height: 32px;
    margin-bottom: 22px;
    font-size: 21px;
    font-family: 'Manrope', sans-serif;
    font-weight: 100;
  }
  .text{
    width: 40%;
  }
  .img4{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.262);
  }

  .main h3{
    font-size: 60px;
    line-height: 50px;
    width: 180px;
    position: relative;
    top: -20px;
    z-index: 10;
    font-family: 'Manrope', sans-serif;
  }
  .text img{
    width: 100px;
  }
  .buttons {
    display: flex;
  gap: 20px;
  }
  .buttons button:hover{
    background-color: white !important;
    color: #06c160 !important;
    border: 1px solid #06c160 !important;
  }
  .buttons button{
    width: 50px;
    transition: 1s;
    height: 50px;
    font-size: 20px;
    background-color: #06c160;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    color: white;
  }
  @media(max-width:991px){
    .text{
      width: 100%;
      text-align: center;
    }
    .buttons{
      margin: auto;
      justify-content: center;
    }
  }
  @media(max-width:572px){
    .image{
      width: 80%;
      gap: 0px;
    }
    .image .img3{
      width: 100%;
      border-radius: 30px;
  height: 300px;
    }
    .main h3{
      font-size: 6vw;
      line-height: 5vw;
      width: 5%;
      position: relative;
      top: 0px;
   
      z-index: 10;
    }
    .text img{
      width: 60px;
    }
  
  }
  
  
  @keyframes rotate-animation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }



/* pizza */



.pizza{
    width: 100%;
    background-color: rebeccapurple;
    margin: auto;
    margin-top: 63px;
    position: relative;
    /* background-color: red; */
}
.pizza_6{
    position: absolute;
    top: 80px;
    left: 350px;
    width: 40%;
    height: 400px;
    z-index: -1;
}
.circle{
    width: 700px;
    height: 700px;
    min-height: 300px;
    border-radius: 50%;
    min-width: 300px;
    position: absolute;
    left: 230px;
    top: 0px;
    z-index: -1;
    background-color:#e6f9ef ;
}
.pizza_div{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
    /* background-color: red; */
}

.sostav h2{
    color: #06c160;
    font-size: 21px;
    font-weight: 900;
    margin-bottom: 22px;
}
.sostav p{
    width: 60%;
    font-size: 19px;
    min-width: 300px;
    line-height: 25px;
    color: #909090;
    margin-top: 11px;
    margin-bottom: 33px;
    font-weight: 350;
}
.svyaz{
    /* margin-left: 350px; */
}
.svyaz h2{
    color: #06c160;
    font-size: 21px;
    font-weight: 900;
    margin-bottom: 22px;
}
.svyaz p{
    width: 50%;
    min-width: 300px;
    font-size: 19px;
    font-weight: 350;
    /* font-family: 'Manrope', sans-serif; */
    line-height: 25px;
    color: #909090;
    margin-top: 11px;
    margin-bottom: 33px;
}
  /* donut_taco */
.registration{
    width: 90%;
    margin: auto;
    background-color: #06c160;
    min-height: 400px;
    min-width: 300px;
    border-radius: 31px;
    position: relative;
    margin-top: 15%;
}
.name1{
    height: 170px;
}
.registration h1{
    color: white;
    padding-top: 2%;
    padding-left: 6%;
    font-weight: 900;
}
.registration a{
    color: white;
}
.registration p{
    color: white;
    margin-top: 29px;
    font-size: 14px;
    text-align: center;
    width:100%;
    margin-left: 21px;
 
}
.registration a:hover{
    text-decoration:none;
}
.registration  button{
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 8px;
    background-color: #06c160;
    color: white;
    font-weight: 600;
    font-size: 16px;
    margin-top: 21px;
    margin-bottom: 31px;
}
.registration  button:hover{
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    background-color: white;
    color: #06c160;
    font-weight: 600;
    font-size: 16px;
    margin-top: 21px;
    margin-bottom: 31px;
}
.registration .taco{
    width: 20%;
    height: 300px;
    position: absolute;
    top: 250px;
    z-index: -1;
    transform: rotate(60deg);
}
.registration .donut{
    width: 40%;
    height: 300px;
    position: absolute;
    /* top: 250px; */
    top: -100px;
    right: -50px;
    z-index: -1;
    transform: rotate(60deg); 
}
/* .registration:hover{

} */
.servis_inp{
    width: 70%;
    margin: auto;
}
.phone_inp{
    /* background-color: white; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 11px;
    background-color: white;
    border-radius: 11px;
    margin-top: 32px;
    height: 43px;
}
.servis_inp input{
    width: 90%;
    min-width: 250px;
    padding-left: 12px;
    outline: none;
    border-radius: 11px;
    border: none;

}

.Swiper_id{
    background-color: #06c160;
    
}