.header{
width: 1380px;
margin: auto;
}
.head{
width: 100%;
display: flex;
justify-content: space-between;
margin: auto;
}
.h_soz{
width: 50%;
}
.h_h1 h1{
font-size: 20px;
color: grey;
font-weight: 400;
}
.h_h2{
width: 150%;
font-weight: 900;
font-size: 7.3vw;
line-height: 140px;
position: relative;
z-index: 12;
}
.h_p1{
width: 470px;
font-size: 22px;
margin-top: 30px;
}
.h_button{
width: 160px;
height: 40px;
border: none;
border-radius: 10px;
font-size: 17px;
background-color: #06c160;
color: white;
margin-top: 30px;
}
.h_p2{
font-size: 20px;
margin-top: 20px;
margin-bottom: 20px;
}
.h_span1{
color: #06c160;
}
.h_span2{
color: grey;
}

.h_swip_img{
width: 50%;
display: flex;
}
.swiper{
width: 70%;
min-height: 350px;
padding: 0.9%;
background-color: #00db6a1a;
margin: auto;
margin-right: 0px;
border-radius: 50px;
padding-bottom: 40px;
transition: .5s;
}
.swiper_img{
width: 500px;
position: relative;
right: 130px;
}
.s_i{
width: 70%;
display: flex;
justify-content: right;
gap: 10px;
margin: auto;
margin-bottom: 20px;
}
.strelka{
font-size: 15px;
width: 20px;
height: 20px;
border-radius: 50%;
background-color: #06c160;
color: white;
padding: 10px;
transition: .5s;
}
.strelka:hover{
background-color: white;
color: #06c160;
}
.s_profil{
width: 90%;
display: flex;
justify-content: space-between;
align-items: center;
margin: auto;
}
.prifil_foto{
width: 80px;
height: 80px;
border-radius: 50%;
transition: 0.2s;
}
.prifil_foto:hover{
border: 1px solid rgba(0, 188, 0, 0.936);
}
.nomi{
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}
.nazvanie_bluda{
font-size: 20px;
font-weight: 600;
}
.s_p_i_s1{
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
gap: 30px;
}
.sotuvchi{
font-size: 20px;
color: #06c160;
font-weight: 600;
}
.bal{
width: 90%;
height: min-content;
display: flex;
justify-content: space-between;
align-items: center;
}
.star{
font-size: 13px;
color: #f5df4d;
}
.bal2{
font-size: 13px;
font-weight: 600;
}
.kometariy{
font-size: 14px;
color: #06c160;
}
.s_button button{
width: 100px;
height: 40px;
border: none;
border-radius: 7px;
border: 1px solid #06c160;
background-color: #06c16000;
color: #06c160;
font-size: 15px;
font-weight: 600;
}
.kakoypovar{
color: grey;
}
.stoimost{
font-weight: 600;
}
.header2{
display: flex;
}
@media(max-width:1510px){
.header{
width: 90%;
margin: auto;
}
.h_swip_img{
width: 40%;
display: flex;
justify-content: right;
}
.s_profil{
width: 82%;
display: flex;
justify-content: space-between;
align-items: center;
margin: auto;
}
.s_p_i_s1{
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
gap: 30px;
}
.swiper{
width: 100%;
min-height: 350px;
padding: 0.9%;
background-color: #00db6a1a;
margin: auto;
border-radius: 50px;
padding-bottom: 40px;
transition: .5s;
}

.s_i{
width: 80%;
display: flex;
justify-content: right;
gap: 25px;
margin: auto;
margin-bottom: 20px;
}
.h_h2{
width: 150%;
font-weight: 800;
font-size: 7vw;
line-height: 100px;
position: relative;
z-index: 12;
}
}
@media(max-width:1367px){
.s_profil{
width: 82%;
display: flex;
justify-content: space-between;
align-items: center;
margin: auto;
}
.s_p_i_s1{
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
gap: 40px;
}
.h_swip_img{
width: 45%;
display: flex;
justify-content: right;
}
.swiper{
width: 100%;
min-height: 350px;
padding: 0.9%;
background-color: #00db6a1a;
margin: auto;
border-radius: 50px;
padding-bottom: 40px;
transition: .5s;
}
} 
@media(max-width:1240px){
.s_p_i_s1{
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
gap: 20px;
}
}
@media(max-width:1182px){
.h_swip_img{
width: 50%;
display: flex;
justify-content: right;
}
.s_p_i_s1{
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
gap: 30px;
}
}
@media(max-width:1090px){
.h_swip_img{
width: 50%;
display: flex;
justify-content: right;
}
.s_p_i_s1{
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
gap: 20px;
}
}
@media(max-width:1063px){
.h_swip_img{
width: 50%;
display: flex;
}
.h_p1{
width: 470px;
font-size: 20px;
margin-top: 30px;
}
.h_h2{
width: 150%;
font-weight: 800;
font-size: 6.8vw;
line-height: 80px;
position: relative;
z-index: 12;
}
.swiper_img{
width: 400px;
position: relative;
right: 100px;
}
.s_profil{
width: 90%;
display: flex;
justify-content: space-between;
align-items: center;
margin: auto;
}
.s_p_i_s1{
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
gap: 30px;
}
}
@media(max-width:1005px){
.s_profil{
width: 92%;
display: flex;
justify-content: space-between;
align-items: center;
margin: auto;
}
.s_p_i_s1{
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
gap: 20px;
}
}
@media(max-width:960px){
.head{
display: none;
}
.h_h1{
display: none;
}
}

.main{
width: 1380px;
margin: auto;
}
.main h1{
width: 100%;
font-size: 51px;
font-weight: 900;
}
.inp{
width: 100%;
display: flex;
gap: 70px;
align-items: center;
margin-top: 30px;
}
.inpu{
width: 100%;
display: flex;
align-items: center;
border: 1px solid gray;
border-radius: 8px;
}
.m_search{
width: 4%;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
font-size: 20px;
color: rgb(97, 97, 97);
font-weight: 600;
}
.exit{
width: 40px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
margin-left: 0px;
font-size: 24px;
}
.input{
width: 92%;
height: 40px;
outline: none;
border: none;
font-size: 18px;
}
.m_button{
width: 100px;
height: 43px;
border: none;
border-radius: 9px;
background-color: #06c160;
color: white;
font-size: 18px;
}
.main_p {
display: none;
}

@media(max-width:1510px){
.main{
width: 90%;
margin: auto;
}
.main h1{
width: 100%;
font-size: 3.3vw;
font-weight: 900;
}
}
@media(max-width:1132px){
.m_search{
width: 5%;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
font-size: 20px;
color: rgb(97, 97, 97);
font-weight: 600;
}

.input{
width: 90%;
height: 40px;
font-size: 18px;
}
}
@media(max-width:960px){
.main{
display: none;
}
}

/* @media(max-width:1595px){
.main h1{
width: 100%;
font-size: 2.8vw;
font-weight: 900;
}
.input{
width: 59vw;
height: 40px;
}
.inp{
width: 100%;
display: flex;
gap: 60px;
align-items: center;
margin-top: 30px;
}
.m_button{
width: 100px;
height: 44.4px;
border: none;
border-radius: 9px;
background-color: #06c160;
color: white;
font-size: 18px;
}
}
@media(max-width:1328px){
.main{
width: 90%;
margin: auto;  
}
.main h1{
width: 100%;
font-size: 3.2vw;
font-weight: 900;
}
.m_search{
width: 3%;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
}
.inp{
width: 100%;
display: flex;
gap: 50px;
align-items: center;
margin-top: 30px;
}
.inpu{
width: 84%;
display: flex;
align-items: center;
border: 1px solid gray;
border-radius: 8px;
}
.input{
width: 69vw;
height: 40px;
}
.m_search{
width: 4.4%;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
}
.m_button{
width: 100px;
height: 45px;
border: none;
border-radius: 9px;
background-color: #06c160;
color: white;
font-size: 18px;
}
}
@media(max-width:1130px){
.main h1{
width: 100%;
font-size: 3.3vw;
font-weight: 900;
}
.m_search{
width: 5%;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
}
.input{
width: 67.5vw;
height: 40px;
}
}
@media(max-width:1000px){
.main{
width: 95%;
margin: auto;  
}
.main h1{
width: 100%;
font-size: 3.5vw;
font-weight: 900;
}
.inp{
width: 100%;
display: flex;
gap: 35px;
align-items: center;
margin-top: 30px;
}
.input{
width: 71vw;
height: 40px;
}
}
@media(max-width:887px){
.m_search{
width: 5.5%;
height: 37px;
display: flex;
justify-content: center;
align-items: center;
font-size: 18px;
color: rgb(97, 97, 97);
font-weight: 600;
}
.input{
width: 71vw;
height: 38px;
}
.m_button{
width: 100px;
height: 43px;
border: none;
border-radius: 9px;
background-color: #06c160;
color: white;
font-size: 19px;
}

}
@media(max-width:810px){
.main{
display: none;
}
} */

.cardlar{
width: 1450px;
margin: auto;
}
.cards{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
gap: 30px;
flex-wrap: wrap;
}
.c{
width: 190px;
height:280px;
border-radius: 20px;
background-color: #c9f6df;
cursor: pointer;
margin-bottom: 20px;
}
.c:hover{
background-color: #06c160;
}
.card_img{
width: 100%;
height: 190px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}
.c_soz{
width: 100%;
height: 50px;
}
.c_soz{
font-size: 19px;
font-weight: 600;
width: 85%;
margin: auto;
margin-top: 10px;
}
.jison{
font-size: 45px;
margin-top: 20px;
margin-bottom: 20px;
font-weight: 900;
}
.cs{
width: 450px;
display: flex;
justify-content: space-between;
align-items:center;
}

@media(max-width:1510px){
.cardlar{
width: 90%;
}
}
@media(max-width:1000px){
.jison{
font-size: 35px;
}
}
@media(max-width:450px){
.c{
width: 47%;
height: 67vw;
}
.c_soz{
font-size: 17px;
font-weight: 600;
margin-top: 10px;
}
.card_img{
width: 100%;
height: 46vw;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
}
}
@media(max-width:400px){
.c_soz{
font-size: 15px;
font-weight: 600;
margin-top: 10px;
}
}
@media(max-width:500px){
.cs{
width: 100%;
}
}
@media(max-width:540px){
.jison{
font-size: 25px;
}
}
.cardlar_katta{
width: 1450px;
margin: auto;
}

.c_k{
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}






















