*{
padding: 0px;
margin: 0px;
font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body{
width: 100vw;
overflow-x: hidden;
    background-color: rgb(248, 248, 248);}
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

::-webkit-scrollbar{
    width: 4px;
}
::-webkit-scrollbar-track{
    background-color: #fff;
}
::-webkit-scrollbar-thumb{
    background-color: #06c160;
}
.big-oformlinia-zaka {
    display: flex;
    gap: 80px;
  }
  .App-offormlenia-zakaz {
    background: #fafafa;
    padding: 15px 25px;
  }
  .where-Oformlenia-zakaz {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .where-Oformlenia-zakaz a {
    color: #06c160;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .where-Oformlenia-zakaz span {
    margin-top: 3px;
  }
  .where-Oformlenia-zakaz a:hover {
    text-decoration: none;
  }
  
  .first-oformlenia-zakaz {
    background: #fff;
    padding: 20px 25px;
    border-radius: 10px;
    width: 850px;
  }
  
  .count-offermlenia-zakaz {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e6f9ef;
  }
  
  .count-what-do-oformlenia-zakaz {
    display: flex;
    align-items: start;
    gap: 30px;
  }
  
  .gets-person-zakaz {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .gets-person2-zakaz {
    display: none;
    align-items: center;
    gap: 30px;
  }
  .gets-person3-zakaz {
    display: none;
    align-items: center;
    gap: 30px;
  }
  
  .gets-person2-zakaz input {
    width: 250px;
    height: 20px;
    padding: 10px 15px;
    border: 1px solid #909090;
    display: flex;
    align-items: center;
    justify-content: start;
    background: #fff;
    border-radius: 10px;
  }
  
  .gets-person-zakaz p {
    width: 250px;
    height: 30px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: start;
    background: #efefef;
    border-radius: 10px;
  }
  
  .get-another-person-zakaz {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .get-another-person-zakaz2 {
    display: none;
    align-items: center;
    gap: 20px;
  }
  
  #checkbox-zakaz {
    width: 20px;
    height: 20px;
    accent-color: #06c160;
  }
  
  .radio-inp-text-zakaz {
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 0;
    cursor: pointer;
  }
  #radio-zakaz {
    accent-color: #06c160;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
  .inp-checkbox-and-text-zakaz p {
    color: #909090;
    display: none;
  }
  
  .big-dostavka-zakaz {
    display: none;
  }
  
  .small-div-dostavka p {
    width: 250px;
    height: 30px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: start;
    background: #efefef;
    border-radius: 10px;
  }
  
  .small-div-dostavka {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .small-div-dostavka input {
    width: 250px;
    height: 25px;
    padding: 10px 15px;
    border: 1px solid #909090;
    display: flex;
    align-items: center;
    justify-content: start;
    background: #fff;
    border-radius: 10px;
  }
  
  .middle-dostavka-div {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .another-info-zakaz input {
    width: 100px;
    height: 25px;
    padding: 10px 15px;
    border: 1px solid #909090;
    display: flex;
    align-items: center;
    justify-content: start;
    background: #fff;
    border-radius: 10px;
  }
  
  .another-info-zakaz {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .hr-for-dostavka-or-zakaz {
    border: none;
    height: 1px;
    background: #909090a4;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .inp-time-data-dostavka input {
    width: 250px;
    height: 28px;
    padding: 10px 15px;
    border: 1px solid #909090;
    display: flex;
    align-items: center;
    justify-content: start;
    background: #fff;
    border-radius: 10px;
  }
  
  .inp-time-data-dostavka select {
    width: 250px;
    height: 50px;
    padding: 10px 15px;
    border: 1px solid #909090;
    display: flex;
    align-items: center;
    justify-content: start;
    background: #fff;
    border-radius: 10px;
  }
  
  .inp-time-data-dostavka {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .comment-for-zakaz textarea {
    width: 600px;
    padding: 10px 15px;
    border: 1px solid #909090;
    display: flex;
    align-items: center;
    justify-content: start;
    background: #fff;
    border-radius: 10px;
  }
  
  .oplata-zakaza-way-money {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
  }
  .oplata-zakaza-way-card {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: no-drop;
  }
  .radio-oplata-card {
    cursor: no-drop !important;
  }
  .oplata-zakaza-way-card h3 {
    color: #909090c2;
  }
  
  .importand-think-oplata {
    display: flex;
    gap: 10px;
    align-items: start;
    background-color: #fae5d2c0;
    padding: 2px 50px 2px 15px;
    border-radius: 5px;
  }
  
  .first-think-oplata {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fea250;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  .second-think-oplata p {
    line-height: 0.5;
  }
  
  .button-for-pay-goods {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  .comment-for-zakaz button {
    height: 40px;
    width: 200px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    color: #fff;
    background: #06c160;
  }
  
  .comment-for-zakaz button:hover {
    background-color: #fff;
    border: 1px solid #06c160;
    color: #06c160;
  }
  
  .second-oformlenia-zakaz {
    background: #e6f9ef;
    height: 400px;
    width: 300px;
    border-radius: 10px;
    padding: 2px 10px;
  }
  
  .info-customer-zakaz {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .her-img-zakaz img {
    width: 55px;
    height: 55px;
    border-radius: 100%;
  }
  
  .her-name-zakaz a {
    color: #06c160;
    text-decoration: none;
    line-height: 0;
  }
  .her-name-zakaz a:hover {
    text-decoration: underline;
  }
  
  .her-name-zakaz p {
    color: #909090;
    font-size: 13px;
  }
  
  .count-of-zakaz {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .count-of-zakaz p {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #06c160;
  }
  
  .how-it-cook-zakaz {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media (max-width: 1140px) {
    .how-it-cook-zakaz {
      display: block;
    }
    .count-of-zakaz {
      display: block;
    }
    .count-of-zakaz h4 {
      line-height: 0;
    }
    .info-customer-zakaz {
      display: block;
      text-align: center;
    }
    .second-oformlenia-zakaz button {
      width: 100%;
      height: 40px;
      border-radius: 10px;
      border: none;
      background: #06c160;
      color: white;
      font-size: 15px;
    }
    .second-oformlenia-zakaz {
      background: #e6f9ef;
      height: 450px;
      width: 500px !important;
      border-radius: 10px;
      padding: 2px 10px;
    }
  }
  .how-it-cook-zakaz p {
    font-size: 13px;
    font-weight: 650;
    line-height: 0;
  }
  
  .how-it-cook-zakaz span {
    color: #909090;
    font-size: 13px;
  }
  
  .overall-price-zakaz {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .second-oformlenia-zakaz button {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background: #06c160;
    color: white;
    font-size: 18px;
  }
  
  .second-oformlenia-zakaz button:hover {
    background-color: #fff;
    border: 1px solid #06c160;
    color: #06c160;
  }
  
  .count-offermlenia-zakaz2 {
    display: none;
  }
  
  @media (max-width: 1100px) {
    .big-oformlinia-zaka {
      display: block;
      padding: 10px 20px;
    }
    .first-oformlenia-zakaz {
      width: 95%;
    }
    .second-oformlenia-zakaz {
      width: 100%;
      margin-top: 20px;
    }
    .how-it-cook-zakaz {
      display: flex;
    }
    .count-of-zakaz {
      display: flex;
    }
    .count-of-zakaz h4 {
      line-height: 0;
    }
    .info-customer-zakaz {
      display: block;
      text-align: center;
    }
    .second-oformlenia-zakaz button {
      width: 100%;
      height: 40px;
      border-radius: 10px;
      border: none;
      background: #06c160;
      color: white;
      font-size: 15px;
    }
    .second-oformlenia-zakaz {
      background: #e6f9ef;
      height: 450px;
      width: 500px !important;
      border-radius: 10px;
      padding: 2px 10px;
    }
  }
  
  @media (max-width: 850px) {
    .second-think-oplata p {
      font-size: 13px;
    }
    .first-think-oplata {
      width: 20px;
      height: 20px;
    }
    .comment-for-zakaz textarea {
      width: 500px;
    }
  }
  
  @media (max-width: 800px) {
    .gets-person-zakaz p {
      width: 200px;
      height: 30px;
      padding: 10px 15px;
      display: flex;
      align-items: center;
      justify-content: start;
      background: #efefef;
      border-radius: 10px;
    }
    .gets-person2-zakaz input {
      width: 200px;
      height: 20px;
      padding: 10px 15px;
      border: 1px solid #909090;
      display: flex;
      align-items: center;
      justify-content: start;
      background: #fff;
      border-radius: 10px;
    }
  
    .small-div-dostavka input {
      width: 200px;
      height: 25px;
      padding: 10px 15px;
      border: 1px solid #909090;
      display: flex;
      align-items: center;
      justify-content: start;
      background: #fff;
      border-radius: 10px;
    }
    .small-div-dostavka p {
      width: 200px;
      height: 30px;
      padding: 10px 15px;
      display: flex;
      align-items: center;
      justify-content: start;
      background: #efefef;
      border-radius: 10px;
    }
    .another-info-zakaz input {
      width: 75px;
      height: 25px;
      padding: 10px 15px;
      border: 1px solid #909090;
      display: flex;
      align-items: center;
      justify-content: start;
      background: #fff;
      border-radius: 10px;
    }
  
    .inp-time-data-dostavka input {
      width: 200px;
      height: 28px;
      padding: 10px 15px;
      border: 1px solid #909090;
      display: flex;
      align-items: center;
      justify-content: start;
      background: #fff;
      border-radius: 10px;
    }
  
    .inp-time-data-dostavka select {
      width: 230px;
      height: 50px;
      padding: 10px 15px;
      border: 1px solid #909090;
      display: flex;
      align-items: center;
      justify-content: start;
      background: #fff;
      border-radius: 10px;
    }
  }
  
  @media (max-width: 700px) {
    .count-offermlenia-zakaz {
      display: none;
    }
    .count-offermlenia-zakaz2 {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex !important;
      align-items: center;
      justify-content: center;
      background: #e6f9ef;
    }
    .df-in-which-stage-zakaz {
      display: flex;
      align-items: center;
      gap: 30px;
    }
  }
  
  @media (max-width: 600px) {
    .oplata-zakaza-way-money h3 {
      font-size: 15px;
    }
    .text-about-bank-card h3 {
      font-size: 15px;
    }
    .gets-person-zakaz p {
      width: 90%;
      height: 30px;
      padding: 10px 15px;
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: start;
      background: #efefef;
      border-radius: 10px;
    }
    .gets-person-zakaz {
      display: block;
    }
    .gets-person2-zakaz {
      display: none;
    }
    .get-another-person-zakaz {
      display: none;
    }
    .get-another-person-zakaz2 {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    .gets-person3-zakaz input {
      margin-top: 20px;
      width: 90%;
      height: 20px;
      padding: 10px 15px;
      border: 1px solid #909090;
      display: flex;
      align-items: center;
      justify-content: start;
      background: #fff;
      border-radius: 10px;
    }
  
    .small-div-dostavka input {
      width: 90%;
      height: 25px;
      padding: 10px 15px;
      border: 1px solid #909090;
      display: flex;
      align-items: center;
      justify-content: start;
      background: #fff;
      border-radius: 10px;
    }
    .small-div-dostavka p {
      width: 90%;
      height: 30px;
      padding: 10px 15px;
      display: flex;
      align-items: center;
      justify-content: start;
      background: #efefef;
      border-radius: 10px;
    }
    .another-info-zakaz input {
      width: 90%;
      margin-top: 20px;
      height: 25px;
      padding: 10px 15px;
      border: 1px solid #909090;
      display: flex;
      align-items: center;
      justify-content: start;
      background: #fff;
      border-radius: 10px;
    }
  
    .small-div-dostavka {
      display: block;
    }
    .middle-dostavka-div {
      display: block;
    }
    .another-info-zakaz {
      display: block;
    }
    .inp-time-data-dostavka {
      display: block;
    }
    .inp-time-data-dostavka input {
      width: 90%;
      height: 28px;
      padding: 10px 15px;
      border: 1px solid #909090;
      display: flex;
      align-items: center;
      justify-content: start;
      background: #fff;
      border-radius: 10px;
    }
  
    .inp-time-data-dostavka select {
      width: 100%;
      height: 50px;
      padding: 10px 15px;
      border: 1px solid #909090;
      display: flex;
      align-items: center;
      justify-content: start;
      background: #fff;
      border-radius: 10px;
      margin-top: 20px;
    }
    #onlain-oplata-zakaz {
      display: none;
    }
    .comment-for-zakaz textarea {
      width: 100%;
    }
    .comment-for-zakaz button {
      height: 40px;
      width: 150px;
      border-radius: 10px;
      font-size: 18px;
      border: none;
      color: #fff;
      background: #06c160;
    }
  
    .second-oformlenia-zakaz {
      width: 100% !important;
    }
  
    .her-img-zakaz img {
      width: 100px;
      height: 100px;
      border-radius: 100%;
    }
    .df-in-which-stage-zakaz span {
      display: none;
    }
    .comment-for-zakaz {
      width: 90%;
    }
  }
  @media (max-width: 450px) {
    .button-for-pay-goods {
      display: flex;
      align-items: center;
      justify-content: start;
    }
    .importand-think-oplata {
      padding: 2px 15px;
    }
    .second-think-oplata p {
      font-size: 12px !important;
      line-height: 1 !important;
    }
    .oplata-zakaza-way-money h3 {
      font-size: 13px;
    }
    .text-about-bank-card h3 {
      font-size: 13px;
    }
  }
  @media (max-width: 400px) {
    .df-in-which-stage-zakaz h2 {
      font-size: 20px;
    }
  }
  @media (max-width: 360px) {
    .importand-think-oplata {
      padding: 2px 5px;
    }
    .df-in-which-stage-zakaz h2 {
      font-size: 16px;
    }
  }
  

  @import url('https://fonts.googleapis.com/css?family=Amatic+SC');
.body_lodaing{
    background-color:#06c160;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 99999;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.body_lodaing h1 {
    position: relative;
    margin: 0 auto;
    top: 25vh;
    width: 100vw;
    text-align: center;
    font-family: 'Amatic SC';
    font-size: 3vh;
    color: #333;
    opacity: 0.75;
    animation: pulse 2.5s linear infinite;
}

#cooking {
    position: relative;
    margin: 0 auto;
    top: 25vh;
    width: 25vh;
    height: 25vh;
    overflow: hidden;
}

#cooking #area {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
    background-color: transparent;
    transform-origin: 15% 60%;
    animation: flip 2.1s ease-in-out infinite;
}

#cooking #area #sides {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: 15% 60%;
    animation: switchSide 2.1s ease-in-out infinite;
}

#cooking #area #sides #handle {
    position: absolute;
    bottom: 18%;
    right: 80%;
    width: 35%;
    height: 20%;
    background-color: transparent;
    border-top: 1vh solid #333;
    border-left: 1vh solid transparent;
    border-radius: 100%;
    transform: rotate(20deg) rotateX(0deg) scale(1.3, 0.9);
}
#cooking #area #sides #pan {
    position: absolute;
    bottom: 20%;
    right: 30%;
    width: 50%;
    height: 8%;
    background-color: #333;
    border-radius: 0 0 1.4em 1.4em;
    transform-origin: -15% 0;
}

#cooking #area #pancake {
    position: absolute;
    top: 24%;
    width: 100%;
    height: 100%;
    transform: rotateX(85deg);
    animation: jump 2.1s ease-in-out infinite;
}

#cooking #area #pancake #pastry {
    position: absolute;
    bottom: 26%;
    right: 37%;
    width: 40%;
    height: 45%;
    background-color: #333;
    box-shadow: 0 0 3px 0 #333;
    border-radius: 100%;
    transform-origin: -20% 0;
    animation: fly 2.1s ease-in-out infinite;
}

#cooking .bubble {
    position: absolute;
    border-radius: 100%;
    box-shadow: 0 0 0.25vh #4d4d4d;
    opacity: 0;
}

#cooking .bubble:nth-child(1) {
    margin-top: 2.5vh;
    left: 58%;
    width: 2.5vh;
    height: 2.5vh;
    background-color: #454545;
    animation: bubble 2s cubic-bezier(0.53, 0.16, 0.39, 0.96) infinite;
}

#cooking .bubble:nth-child(2) {
    margin-top: 3vh;
    left: 52%;
    width: 2vh;
    height: 2vh;
    background-color: #3d3d3d;
    animation: bubble 2s ease-in-out 0.35s infinite; 
}

#cooking .bubble:nth-child(3) {
    margin-top: 1.8vh;
    left: 50%;
    width: 1.5vh;
    height: 1.5vh;
    background-color: #333;
    animation: bubble 1.5s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.55s infinite;
}

#cooking .bubble:nth-child(4) {
    margin-top: 2.7vh;
    left: 56%;
    width: 1.2vh;
    height: 1.2vh;
    background-color: #2b2b2b;
    animation: bubble 1.8s cubic-bezier(0.53, 0.16, 0.39, 0.96) 0.55s infinite;
}

#cooking .bubble:nth-child(5) {
    margin-top: 2.7vh;
    left: 63%;
    width: 1.1vh;
    height: 1.1vh;
    background-color: #242424;
    animation: bubble 1.6s ease-in-out 1s infinite; 
}


@keyframes pulse {
    0% {
        transform: scale(1, 1);
        opacity: 0.25;
    }
    50% {
        transform: scale(1.2, 1);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0.25;
    }
}

@keyframes flip {
    0% {
        transform: rotate(0deg);
    }

    5% {
        transform: rotate(-27deg);
    }

    30%, 50% {
        transform: rotate(0deg);
    }

    55% {
        transform: rotate(27deg);
    }

    83.3% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes switchSide {
    0% {
        transform: rotateY(0deg) ;
    }

    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

@keyframes jump {
    0% {
        top: 24;
        transform: rotateX(85deg);
    }
    25% {
        top: 10%;
        transform: rotateX(0deg);
    }
    50% {
        top: 30%;
        transform: rotateX(85deg);
    }
    75% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(85deg);
    }
}

@keyframes fly {
    0% {
        bottom: 26%;
        transform: rotate(0deg);
    }
    10% {
        bottom: 40%;
    }
    50% {
        bottom: 26%;
        transform: rotate(-190deg);
    }
    80% {
        bottom: 40%;
    }
    100% {
        bottom: 26%;
        transform: rotate(0deg);
    }
}

@keyframes bubble {
    0% {
        transform: scale(0.15, 0.15);
        top: 80%;
        opacity: 0;
    }
    50% {
        transform: scale(1.1, 1.1);
        opacity: 1;
    }
    100% {
        transform: scale(0.33, 0.33);
        top: 60%;
        opacity: 0;
    }
}