.navbar_big{
    background-color: white;
    width: 100%;
}
.navbar{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: #fff; */
    /* position: fixed; */
}
.navbar_logo img{
    width: 100px;
    cursor: pointer;
}
.navbar_line{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    justify-content: space-between;
    line-height: 18px;
}
.navbar_line a{
    text-decoration: none;
    color: black;
    font-weight: 375;
    font-size: 18px;
    font-family: 400 var(--fs16)/var(--lh16) 'Manrope',Arial,sans-serif,-apple-system;
}
.navbar_line a:hover{
    color: #06c160;
}
.navbar_line span:hover{
    color: #06c160;
}
.navbar_btn button{
    gap: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px 16px;
    border: 1px solid #06c160;
    border-radius: 8px;
    background-color: #06c160;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 10px;
    white-space: nowrap;
    cursor: pointer;
}
.openbtn1{
    width: 300px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 6px 0px gray;
    position: fixed;
    z-index: 3132;
    left: 63%;
    display: none;
}
.obtn{
    text-align: center;
    line-height: 60px;
}
.obtn button{
    --btn-bg-color: #06c160;
    --btn-border-color: #06c160;
    --btn-color: #fff;
    --btn-hover-bg-color: #fff;
    --btn-hover-border-color: #06c160;
    --btn-hover-color: #06c160;
    --btn-disabled-bg-color: #efefef;
    --btn-disabled-border-color: #efefef;
    --btn-disabled-color: #fff;
    --btn-border-width: 1px;
    --btn-border-radius: 8px;
    --btn-height: 46px;
    --btn-icon-gap: 10px;
    color: currentColor;
    outline: 0!important;
    text-decoration: none;
    -webkit-text-decoration-skip: objects;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    -webkit-tap-highlight-color: transparent;
    transition-duration: .2s;
    transition-property: opacity,border-color,background-color,color;
    transition-timing-function: cubic-bezier(.25,1,.5,1);
    position: relative;
    display: inline-flex;
    overflow: hidden;
    height: var(--btn-height);
    box-sizing: border-box;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    padding: 0 19px;
    border: var(--btn-border-width) solid var(--btn-border-color);
    border-radius: var(--btn-border-radius);
    backface-visibility: hidden;
    background: var(--btn-bg-color);
    color: var(--btn-color);
    font: 600 var(--fs16) 'Manrope',Arial,sans-serif,-apple-system;
    text-align: center;
    transform: translateZ(0);
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
}

.openbtn2_big{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.361);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
}
.openbtn2{
    width: 300px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 6px 0px gray;

}
.obtn2{
    text-align: center;
    line-height: 60px;
}
.obtn2 button{
    --btn-bg-color: #06c160;
    --btn-border-color: #06c160;
    --btn-color: #fff;
    --btn-hover-bg-color: #fff;
    --btn-hover-border-color: #06c160;
    --btn-hover-color: #06c160;
    --btn-disabled-bg-color: #efefef;
    --btn-disabled-border-color: #efefef;
    --btn-disabled-color: #fff;
    --btn-border-width: 1px;
    --btn-border-radius: 8px;
    --btn-height: 46px;
    --btn-icon-gap: 10px;
    color: currentColor;
    outline: 0!important;
    text-decoration: none;
    -webkit-text-decoration-skip: objects;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    -webkit-tap-highlight-color: transparent;
    transition-duration: .2s;
    transition-property: opacity,border-color,background-color,color;
    transition-timing-function: cubic-bezier(.25,1,.5,1);
    position: relative;
    display: inline-flex;
    overflow: hidden;
    height: var(--btn-height);
    box-sizing: border-box;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    padding: 0 19px;
    border: var(--btn-border-width) solid var(--btn-border-color);
    border-radius: var(--btn-border-radius);
    backface-visibility: hidden;
    background: var(--btn-bg-color);
    color: var(--btn-color);
    font: 600 var(--fs16) 'Manrope',Arial,sans-serif,-apple-system;
    text-align: center;
    transform: translateZ(0);
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
}


.navbar_vxod{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.navbar_vxod span{
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: 400 var(--fs16)/var(--lh16) 'Manrope',Arial,sans-serif,-apple-system;
}
.navbar_vxod span:hover{
    color: #06c160;
}
.navbar_menu{
    display: none;
    gap: 10px;
   
}


.navbar_mobile_menu{
    height: 500px;
    background-color: white;
position: relative;
top: 0px;
left: 0px;
z-index: 12312;
z-index: 324234;
padding-left: 15px;
line-height: 28px;

}
#aaa{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar_mobile_menu a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    font-family: 400 var(--fs16)/var(--lh16) 'Manrope',Arial,sans-serif,-apple-system;
}
.tg{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.apps img{
    width: 100px;
}
.apps{
    display: flex;
    gap: 10px;
}
.close{
    font-weight: 500;
    font-size: 20px;
}
.onmous{
    width: 210px;
    display: none;
    border-radius: 20px;
    position: absolute;
    top: 70px;
    left: 18%;
    z-index: 12123;
    font-size: 18px;
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0px 0px 1px 0px gray;
}
.onmous ul{
    width: 200px;
    max-height: 400px;
    list-style: none;
    overflow: scroll;
    overflow-x: hidden;
    color: black !important;
    text-decoration: none;

}
.onmous ul li{
    padding: 10px 10px;
}
.onmous ul li:hover{
    scale: 1.01;
    box-shadow: 0px 0px 1px gray;
}
.onmous ul li a{
    padding: 0;
    border: 0;
    font-family: inherit;
    font-size: 15px;
    font-weight: 370;
    color: rgb(54, 54, 54);
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    -webkit-text-decoration-skip: objects;
    transition-property: opacity,border-bottom-color,color;
    cursor: pointer;
   
}
.onmous a:hover{
    color: #06c160;
}

.navbar_modalbig{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    z-index: 123;
    align-items: center;
    background-color: #0000008b;
    position: absolute;
    top: 0px;
    display: none;
}
.navbar_modal2{
    width: 30%;
    min-width: 300px;
    border-radius: 20px;
    padding: 20px;
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_modal2{
    width: 80%;
}
.vxdod_df{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}
.vxdod_df h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.phone_df{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}
.phone_df p{
    color: #06c160;
    font-size: 15px;
    font-weight: 500;
    font-family: 400 var(--fs16)/var(--lh16) 'Manrope',Arial,sans-serif,-apple-system;
}
.modal_inp input{
    width: 100%;
    height: 45px;
    border-radius: 10px;
    border: 1px solid gray;
    margin-top: 3px;
    padding-left: 15px;
    margin-bottom: 20px;
}
.modal_btn button{
        --btn-bg-color: #06c160;
    --btn-border-color: #06c160;
    --btn-color: #fff;
    --btn-hover-bg-color: #fff;
    --btn-hover-border-color: #06c160;
    --btn-hover-color: #06c160;
    --btn-disabled-bg-color: #efefef;
    --btn-disabled-border-color: #efefef;
    --btn-disabled-color: #fff;
    --btn-border-width: 1px;
    --btn-border-radius: 8px;
    --btn-height: 46px;
    --btn-icon-gap: 10px;
    color: currentColor;
    outline: 0!important;
    text-decoration: none;
    -webkit-text-decoration-skip: objects;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    -webkit-tap-highlight-color: transparent;
    transition-duration: .2s;
    transition-property: opacity,border-color,background-color,color;
    transition-timing-function: cubic-bezier(.25,1,.5,1);
    position: relative;
    display: inline-flex;
    overflow: hidden;
    height: var(--btn-height);
    box-sizing: border-box;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    padding: 0 19px;
    border: var(--btn-border-width) solid var(--btn-border-color);
    border-radius: var(--btn-border-radius);
    backface-visibility: hidden;
    background: var(--btn-bg-color);
    color: var(--btn-color);
    font: 600 var(--fs16) 'Manrope',Arial,sans-serif,-apple-system;
    text-align: center;
    transform: translateZ(0);
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
    margin-top: 20px;
}
.openbtn_map{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 312312;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.313);
    display: none;
}
.openbtn_map2{
    width: 75%;
    background-color: #fff;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.openbtn_map3{
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.openbtn_map3_df{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.openbtn_map3_df2{
    flex-wrap: wrap;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.openbtn_map3_df2 input{
    width: 76%;
    height: 50px;
    border: 1px solid gray;
    border-radius: 10px;
    padding-left: 20px;
    font-size: inherit;
    outline: none;
}
.openbtn_map3_df2 button{
    width: 150px;
    height: 50px;
    background-color: #efefef;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: inherit;
}
.openbtn_map3_map{
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.openbtn_map3_map iframe{
    width: 100%;
    height: 300px;
    margin: auto;
    border: none;
}
@media(max-width:1058px){
    .openbtn_map3_df2 input{
        width: 100%;
        margin-bottom: 10px;
    }
    .openbtn_map3_df2 button{
        width: 100%;
    }
}
@media(max-width:1025px){
    .navbar_menu{
        display: flex;

    }
    .navbar_line{
        display: none;
    }
    .navbar_btn{
        display: none;
    }
    #openbtn1{
        display: none !important;
    }
}
@media(max-width:1024px){
    /* #openbtn1{
        display: none !important;
    } */
    .openbtn2_big{
        display: flex;
    }
}
@media(maz-width:991px){
    .openbtn_map3_map iframe{
        height: 100px;
    } 
}
@media(max-width:455px){
    .openbtn_map3_df h2{
        font-size: 18px;
    }
}

/* for footer */
.for_footer{
    width: 100%;
}
.footerglv{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.footer_2{
    width: 65%;
    margin: auto;
    min-width: 300px;
}
.footer_2 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.footer_3{
    width: 30%;
    min-width: 300px;
    text-align: center;
}
.footer_3 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.images img{
    height: 40px;
}
.footer_4{
    width: 76%;
    margin: auto;
    display: flex;
    justify-content: left;
    gap: 10px;
    flex-wrap: wrap;
}
.year{
    margin-top: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.support a{
    line-height: 65px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: #06c160;
}
@media(max-width:857px){
    .footer_3{
        margin-top: 20px;
    }
}
@media(max-width:816px){
    .support a{
        line-height: 28px;
    }
}











.modal_gl{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;

    background-color: rgba(0, 0, 0, 0.329);
    z-index: 3244342;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_gl{
    max-width: 400px;
    width: 100%;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}
.button_close_gl{
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.form_body_gl{
    width: 90%;
}
.button_close_gl:hover{
    animation-name: animatiob;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    cursor: pointer;
}
.back_gl{
    display:flex;
    align-items: center;
    color: #06c160;
    gap: 10px;
    margin-top: 30px;
    cursor: pointer;
}
.back_gl a{
text-decoration: none;
color: #06c160;
border-bottom: 1px dashed;
} 
.input_phone_gl{
    width: 100%;
display: flex;
align-items: center;
border: 1px solid gray;
justify-content: space-around;
border-radius: 10px;
margin-top: 15px;
position: relative;
left: 5%;
}
.input_phone_gl input{
    width: 90%;
    height: 40px;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    outline: none;
    padding-left: 10px;

}
.form_body_gl p{
    position: relative;
    left: 5%;
    margin: auto;
    margin-top: 20px;
    color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 90%;
    margin-bottom: 20px;

}
.form_body_gl p a{
    color: #06c160;
    list-style: none;
}
.form_body_gl button{
    width: 80%;
    height: 40px;
    margin-left: 7%;
    background-color: #06c160;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 18px;
}
.form_body_gl button:hover{
background-color: white;
color: black;
border: 1px solid #06c160;
}
.line_gl{
    width: 100%;
    height: 2px ;
    background-color: rgba(128, 128, 128, 0.534);
    position: relative;
    left: 5%;
    margin-top: 20px;
}
@keyframes animatiob{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(180deg);}
}