.big_oformlinia_zaka {
  display: flex;
  gap: 80px;
}
.App_offormlenia_zakaz {
  background: #fafafa;
  padding: 15px 25px;
}
.where_Oformlenia_zakaz {
  display: flex;
  align-items: center;
  gap: 20px;
}
.where_Oformlenia_zakaz a {
  color: #06c160;
  display: flex;
  align-items: center;
  gap: 20px;
}
.where_Oformlenia_zakaz span {
  margin-top: 3px;
}
.where_Oformlenia_zakaz a:hover {
  text-decoration: none;
}

.first_oformlenia_zakaz {
  background: #fff;
  padding: 20px 25px;
  border-radius: 10px;
  width: 850px;
}

.count_offermlenia_zakaz {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e6f9ef;
}

.count_what_do_oformlenia_zakaz {
  display: flex;
  align-items: start;
  gap: 30px;
}

.gets_person_zakaz {
  display: flex;
  align-items: center;
  gap: 30px;
}
.gets_person2_zakaz {
  display: none;
  align-items: center;
  gap: 30px;
}
.gets_person3_zakaz {
  display: none;
  align-items: center;
  gap: 30px;
}

.gets_person2_zakaz input {
  width: 250px;
  height: 20px;
  padding: 10px 15px;
  border: 1px solid #909090;
  display: flex;
  align-items: center;
  justify-content: start;
  background: #fff;
  border-radius: 10px;
}

.gets_person_zakaz p {
  width: 250px;
  height: 30px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: start;
  background: #efefef;
  border-radius: 10px;
}

.get_another_person_zakaz {
  display: flex;
  align-items: center;
  gap: 20px;
}
.get_another_person_zakaz2 {
  display: none;
  align-items: center;
  gap: 20px;
}

#checkbox_zakaz {
  width: 20px;
  height: 20px;
  accent-color: #06c160;
}

.radio_inp_text_zakaz {
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 0;
  cursor: pointer;
}
#radio_zakaz {
  accent-color: #06c160;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.inp_checkbox_and_text_zakaz p {
  color: #909090;
  display: none;
}

.big_dostavka_zakaz {
  display: none;
}

.small_div_dostavka p {
  width: 250px;
  height: 30px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: start;
  background: #efefef;
  border-radius: 10px;
}

.small_div_dostavka {
  display: flex;
  align-items: center;
  gap: 30px;
}

.small_div_dostavka input {
  width: 250px;
  height: 25px;
  padding: 10px 15px;
  border: 1px solid #909090;
  display: flex;
  align-items: center;
  justify-content: start;
  background: #fff;
  border-radius: 10px;
}

.middle_dostavka_div {
  display: flex;
  align-items: center;
  gap: 30px;
}
.another_info_zakaz input {
  width: 100px;
  height: 25px;
  padding: 10px 15px;
  border: 1px solid #909090;
  display: flex;
  align-items: center;
  justify-content: start;
  background: #fff;
  border-radius: 10px;
}

.another_info_zakaz {
  display: flex;
  align-items: center;
  gap: 15px;
}

.hr_for_dostavka_or_zakaz {
  border: none;
  height: 1px;
  background: #909090a4;
  margin-top: 30px;
  margin-bottom: 30px;
}

.inp_time_data_dostavka input {
  width: 250px;
  height: 28px;
  padding: 10px 15px;
  border: 1px solid #909090;
  display: flex;
  align-items: center;
  justify-content: start;
  background: #fff;
  border-radius: 10px;
}

.inp_time_data_dostavka select {
  width: 250px;
  height: 50px;
  padding: 10px 15px;
  border: 1px solid #909090;
  display: flex;
  align-items: center;
  justify-content: start;
  background: #fff;
  border-radius: 10px;
}

.inp_time_data_dostavka {
  display: flex;
  align-items: center;
  gap: 30px;
}
.comment_for_zakaz textarea {
  width: 600px;
  padding: 10px 15px;
  border: 1px solid #909090;
  display: flex;
  align-items: center;
  justify-content: start;
  background: #fff;
  border-radius: 10px;
}

.oplata_zakaza_way_money {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
.oplata_zakaza_way_card {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: no-drop;
}
.radio_oplata_card {
  cursor: no-drop !important;
}
.oplata_zakaza_way_card h3 {
  color: #909090c2;
}

.importand_think_oplata {
  display: flex;
  gap: 10px;
  align-items: start;
  background-color: #fae5d2c0;
  padding: 2px 50px 2px 15px;
  border-radius: 5px;
}

.first_think_oplata {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fea250;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.second_think_oplata p {
  line-height: 0.5;
}

.button_for_pay_goods {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
}

.comment_for_zakaz button {
  height: 40px;
  width: 200px;
  border-radius: 10px;
  font-size: 20px;
  border: none;
  color: #fff;
  background: #06c160;
}

.comment_for_zakaz button:hover {
  background-color: #fff;
  border: 1px solid #06c160;
  color: #06c160;
}

.second_oformlenia_zakaz {
  background: #e6f9ef;
  height: 400px;
  width: 300px;
  border-radius: 10px;
  padding: 2px 10px;
}

.info_customer_zakaz {
  display: flex;
  align-items: center;
  gap: 10px;
}

.her_img_zakaz img {
  width: 55px;
  height: 55px;
  border-radius: 100%;
}

.her_name_zakaz a {
  color: #06c160;
  text-decoration: none;
  line-height: 0;
}
.her_name_zakaz a:hover {
  text-decoration: underline;
}

.her_name_zakaz p {
  color: #909090;
  font-size: 13px;
}

.count_of_zakaz {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.count_of_zakaz p {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #06c160;
}

.how_it_cook_zakaz {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1140px) {
  .how_it_cook_zakaz {
    display: block;
  }
  .count_of_zakaz {
    display: block;
  }
  .count_of_zakaz h4 {
    line-height: 0;
  }
  ._ {
    display: block;
    text-align: center;
  }
  .second_oformlenia_zakaz button {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: #06c160;
    color: white;
    font-size: 15px;
  }
  .second_oformlenia_zakaz {
    background: #e6f9ef;
    height: 450px;
    width: 500px !important;
    border-radius: 10px;
    padding: 2px 10px;
  }
}
.how_it_cook_zakaz p {
  font-size: 13px;
  font-weight: 650;
  line-height: 0;
}

.how_it_cook_zakaz span {
  color: #909090;
  font-size: 13px;
}

.overall_price_zakaz {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.second_oformlenia_zakaz button {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  background: #06c160;
  color: white;
  font-size: 18px;
}

.second_oformlenia_zakaz button:hover {
  background-color: #fff;
  border: 1px solid #06c160;
  color: #06c160;
}

.count_offermlenia_zakaz2 {
  display: none;
}

@media (max-width: 1100px) {
  .big_oformlinia_zaka {
    display: block;
    padding: 10px 20px;
  }
  .first_oformlenia_zakaz {
    width: 95%;
  }
  .second_oformlenia_zakaz {
    width: 100%;
    margin-top: 20px;
  }
  .how_it_cook_zakaz {
    display: flex;
  }
  .count_of_zakaz {
    display: flex;
  }
  .count_of_zakaz h4 {
    line-height: 0_
  }
  ._ {
    display: block;
    text-align: center;
  }
  .second_oformlenia_zakaz button {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background: #06c160;
    color: white;
    font-size: 15px;
  }
  .second_oformlenia_zakaz {
    background: #e6f9ef;
    height: 450px;
    width: 500px !important;
    border-radius: 10px;
    padding: 2px 10px;
  }
}

@media (max-width: 850px) {
  .second_think_oplata p {
    font-size: 13px;
  }
  .first_think_oplata {
    width: 20px;
    height: 20px;
  }
  .comment_for_zakaz textarea {
    width: 500px;
  }
}

@media (max-width: 800px) {
  .gets_person_zakaz p {
    width: 200px;
    height: 30px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: start;
    background: #efefef;
    border-radius: 10px;
  }
  .gets_person2_zakaz input {
    width: 200px;
    height: 20px;
    padding: 10px 15px;
    border: 1px solid #909090;
    display: flex;
    align-items: center;
    justify-content: start;
    background: #fff;
    border-radius: 10px;
  }

  .small_div_dostavka input {
    width: 200px;
    height: 25px;
    padding: 10px 15px;
    border: 1px solid #909090;
    display: flex;
    align-items: center;
    justify-content: start;
    background: #fff;
    border-radius: 10px;
  }
  .small_div_dostavka p {
    width: 200px;
    height: 30px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: start;
    background: #efefef;
    border-radius: 10px;
  }
  .another_info_zakaz input {
    width: 75px;
    height: 25px;
    padding: 10px 15px;
    border: 1px solid #909090;
    display: flex;
    align-items: center;
    justify-content: start;
    background: #fff;
    border-radius: 10px;
  }

  .inp_time_data_dostavka input {
    width: 200px;
    height: 28px;
    padding: 10px 15px;
    border: 1px solid #909090;
    display: flex;
    align-items: center;
    justify-content: start;
    background: #fff;
    border-radius: 10px;
  }

  .inp_time_data_dostavka select {
    width: 230px;
    height: 50px;
    padding: 10px 15px;
    border: 1px solid #909090;
    display: flex;
    align-items: center;
    justify-content: start;
    background: #fff;
    border-radius: 10px;
  }
}

@media (max-width: 700px) {
  .count_offermlenia_zakaz {
    display: none;
  }
  .count_offermlenia_zakaz2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background: #e6f9ef;
  }
  .df_in_which_stage_zakaz {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}

@media (max-width: 600px) {
  .oplata_zakaza_way_money h3 {
    font-size: 15px;
  }
  .text_about_bank_card h3 {
    font-size: 15px;
  }
  .gets_person_zakaz p {
    width: 90%;
    height: 30px;
    padding: 10px 15px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    background: #efefef;
    border-radius: 10px;
  }
  .gets_person_zakaz {
    display: block;
  }
  .gets_person2_zakaz {
    display: none;
  }
  .get_another_person_zakaz {
    display: none;
  }
  .get_another_person_zakaz2 {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .gets_person3_zakaz input {
    margin-top: 20px;
    width: 90%;
    height: 20px;
    padding: 10px 15px;
    border: 1px solid #909090;
    display: flex;
    align-items: center;
    justify-content: start;
    background: #fff;
    border-radius: 10px;
  }

  .small_div_dostavka input {
    width: 90%;
    height: 25px;
    padding: 10px 15px;
    border: 1px solid #909090;
    display: flex;
    align-items: center;
    justify-content: start;
    background: #fff;
    border-radius: 10px;
  }
  .small_div_dostavka p {
    width: 90%;
    height: 30px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: start;
    background: #efefef;
    border-radius: 10px;
  }
  .another_info_zakaz input {
    width: 90%;
    margin-top: 20px;
    height: 25px;
    padding: 10px 15px;
    border: 1px solid #909090;
    display: flex;
    align-items: center;
    justify-content: start;
    background: #fff;
    border-radius: 10px;
  }

  .small_div_dostavka {
    display: block;
  }
  .middle_dostavka_div {
    display: block;
  }
  .another_info_zakaz {
    display: block;
  }
  .inp_time_data_dostavka {
    display: block;
  }
  .inp_time_data_dostavka input {
    width: 90%;
    height: 28px;
    padding: 10px 15px;
    border: 1px solid #909090;
    display: flex;
    align-items: center;
    justify-content: start;
    background: #fff;
    border-radius: 10px;
  }

  .inp_time_data_dostavka select {
    width: 100%;
    height: 50px;
    padding: 10px 15px;
    border: 1px solid #909090;
    display: flex;
    align-items: center;
    justify-content: start;
    background: #fff;
    border-radius: 10px;
    margin-top: 20px;
  }
  #onlain_oplata_zakaz {
    display: none;
  }
  .comment_for_zakaz textarea {
    width: 100%;
  }
  .comment_for_zakaz button {
    height: 40px;
    width: 150px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    color: #fff;
    background: #06c160;
  }

  .second_oformlenia_zakaz {
    width: 100% !important;
  }

  .her_img_zakaz img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
  }
  .df_in_which_stage_zakaz span {
    display: none;
  }
  .comment_for_zakaz {
    width: 90%;
  }
}
@media (max-width: 450px) {
  .button_for_pay_goods {
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .importand_think_oplata {
    padding: 2px 15px;
  }
  .second_think_oplata p {
    font-size: 12px !important;
    line-height: 1 !important;
  }
  .oplata_zakaza_way_money h3 {
    font-size: 13px;
  }
  .text_about_bank_card h3 {
    font-size: 13px;
  }
}
@media (max-width: 400px) {
  .df_in_which_stage_zakaz h2 {
    font-size: 20px;
  }
}
@media (max-width: 360px) {
  .importand_think_oplata {
    padding: 2px 5px;
  }
  .df_in_which_stage_zakaz h2 {
    font-size: 16px;
  }
}
