/* .cards{
margin: auto;
display: flex;
justify-content: center;
} */
.card{
width: 320px;
min-height: 400px;
border-radius: 18px;
padding: 1%;
margin-top: 20px;
box-shadow:  0px 0px 12px grey;
display: flex !important;
justify-content: space-between !important;
flex-direction: column !important;
transition: .3s;
}
.image12{
    background-size: cover !important;
    background-position: center !important;
}
.card:hover{
box-shadow: 0px 0px 5px gray;
}
.profil{
width: 90%;
margin: auto;
display: flex;
align-items: center;
gap: 30px;
margin-top: 10px;
}
.profil img{
width: 80px;
height: 80px;
border-radius: 50%;
transition: .4s;
border: 2px solid rgba(255, 255, 255, 0);
cursor: pointer;
}
.profil img:hover{
border: 2px solid rgba(0, 188, 0, 0.936);
scale: 1.01;
}


.bal{
width: 60%;
}

.p1 span{
color: #06c160;
}
.comment{
font-size: 12px;
}

.star{
color: rgb(255, 255, 11);
}
.p3{
width: 100%;
display: flex;
gap: 8px;
align-items: center;
}

.location{
color: #06c160;
}


.p_ism{
width: 90%;
height: max-content;
margin: auto;
margin-bottom: 0px;
}

.p_ism h1{
font-size: 20px;
margin-top: 20px;
}

.ism_p{
width: 90%;
margin: auto;
font-size: 13px;
color: gray;
margin-top: 10px;
}

.vbr_blyud{
width: 90%;
display: flex;
align-items: center;
gap: 8px;
flex-wrap: wrap;
margin: auto;
margin-top: 15px;
}

.vbr_blyud p{
width: max-content;
height: max-content;
background-color: #06c160;
border-radius: 15px;
padding: 2%;
color: white;
font-size: 12px;
transition: .3s;
cursor: pointer;
}
.vbr_blyud p:hover{
background-color: #009749;
}

.p_b{
/* width: 90%; */
/* height: 220px; */
/* display: flex; */
/* justify-content: center; */
/* justify-content: left; */
/* align-items: end; */
/* margin: auto; */
}

.p_b button{
width: 90%;
height: 50px;
border: none;
margin-bottom: 20px;
border-radius: 8px;
background-color: #06c160;
color: white;
font-size: 18px;
font-weight: 500;
transition: .3s;
cursor: pointer;

}
.p_b button:hover{
background-color: white;
border: 1px solid #06c160;
color: #06c160;
font-weight:500;
}
@media(max-width:365px){
.profil img{
width: 70px;
height: 70px;
border-radius: 50%;
transition: .4s;
cursor: pointer;
}
.card{
width: 300px;
min-height: 400px;
border-radius: 18px;
padding: 1%;
transition: .3s;
}
.p_ism{
width: 90%;
margin: auto;
height: max-content;
margin-bottom: 0px;
line-clamp: 0px;
}
.p_ism h1{
margin-left: 0px;
font-size: 17px;
}
.p_b{
width: 90%;
height: 170px;
display: flex;
justify-content: left;
align-items: end;
margin: auto;
}
}
@media(max-width:344px){
.profil img{
width: 70px;
height: 70px;
border-radius: 50%;
transition: .4s;
cursor: pointer;
}
.card{
width: 300px;
min-height: 400px;
border-radius: 18px;
padding: 1%;
transition: .3s;
}
.p_b{
width: 90%;
height: 170px;
display: flex;
justify-content: left;
align-items: end;
margin: auto;
}
}