.a_div{
width: 1100px;
margin: auto;
margin-top: 30px;
}
.a_div a{
width: 100%;
display: flex;
align-items: center !important;
color: #06c160;
}
.m_zakaz{
max-width: 1300px;
width: 100%;
margin: auto;
margin-top: 30px;
margin-bottom: 50px;
}
.m_zakaz h1{
font-size: 45px;
font-family: 'Montserrat',Arial,serif,-apple-system;
font-weight: 900;
text-transform: uppercase;
}
.tablitsa{
width: 100%;
height: max-content;
border-radius: 12px;
border: 1px solid rgb(158, 158, 158);
margin-top: 25px;
}
.t1{
width: 98.6%;
height: 45px;
display: flex;
gap: 130px;
align-items: center;
color: gray;
font-size: 14px;
background-color: #89898938;
border-top-left-radius: 9px;
border-top-right-radius: 9px;
padding-left: 15px;
}
.t2{
width: 100%;
height: 120px;
display: flex;
align-items: center;
padding-left: 6px;
}
.profil{
display: flex;
align-items: center;
}


.m_i{
display: flex;
}

.profil img{
width: 40px;
height: 40px;
border-radius: 50%;
}

.mesto{
width: 200px;
height: 60px;
}
.t2 button{
width: 130px;
height: 25px;
border: none;
border-radius: 8px;
color: #f06262;
background-color: rgba(240, 98, 98, 0.05);
margin-left: 90px; 
cursor: pointer;
}

































