.message{
    position: absolute;
    bottom: 25px;
    /* max-width: 250px; */
transform: translateX(-50%);
    /* right: 0px; */
    padding: 10px;
    display: none;
    border-radius: 10px;
    color: gray;
    font-size: 15px;
    min-width: 200px;
    text-align:center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    background-color: white;
}

.page{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 0px;

}